body {
    background-color: #efefef;
}

h1 a {
    text-decoration: none;
}

img {
    border: none;
}

div.adsfoot {
    clear: both;
    text-align: center;
}

address, div.address {
    clear: both;
    text-align: center;
    font-style: italic;
    padding-top: 1em;
}


/* for Mobile */

h1 {
    font-size: medium;
}

h2 {
    font-size: medium;
    background-color: #aaf;
}

p, ul, ol, dl, pre {
    margin-bottom: 1ex;
}

ul.feedback {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

div.amazonitem, p.amazonitem {
    float: left;
    margin: 0 1ex 1ex 0;
}
