@import "pc.css";

div#entries {
    float: left;
    width: 75%;
    overflow-x: auto;
}

div#links {
    float: right;
    width: 20%;
    padding: 0;
}

div#links h2 {
    margin-bottom: 0;
}

div#links ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1em;
}

div#links li {
    list-style: none;
}

p#footnavi {
    margin-top: -1em;
    text-align: right;
}
